**/node_modules
**/.next
**/target
**/dist
**/coverage
**/test-results
**/playwright-report
**/.git
**/.github
**/.cursor
**/blob-report
**/*.md
!README.md
.env
.env.*
!.env.example
**/.DS_Store
**/npm-debug.log*
**/yarn-error.log*
playwright/.cache
apps/web/out
**/*.tsbuildinfo
